$base-color: #697a76;
$base-color-darker: #4f625e;
$base-color-darkest: #374e4a;
$base-color-darkestest: #233633;

$accent-color: #a87958;
$accent-color-darker: #7e5d45;
$accent-color-darkest: #604430;
$accent-color-darkestest: #4a392b;

$dark-color: #505958;
$dark-color-darker: #505958;
$dark-color-darkest: #272727;

$text-color: #bec2c1;
$text-color-darker: #9f9f9f;
$text-color-darkest: #818181;
